---
import Layout from "../../layouts/Layout.astro";
import type { tApiA } from "nA";
import { hc } from "hono/client";
import { backCfg } from "back-config";
import { honoIntegrated } from "../../lib/front-config.js";

//const honoIntegrated_nCors = true;
//const honoIntegrated_nFetch = true;
const honoIntegrated_nCors = honoIntegrated.inClientNCors;
const honoIntegrated_nFetch = honoIntegrated.inClientNFetch;

async function myload(): string[] {
	let res: Response;
	const target1 = Astro.url.origin;
	const target2 = `${backCfg.nA_host}:${backCfg.nA_port}`;
	const target = honoIntegrated_nCors ? target1 : target2;
	//console.log(`dbg349: target: ${target`);
	if (honoIntegrated_nFetch) {
		const clientA = hc<tApiA>(target);
		//const clientA = hc<tApiA>(Astro); // inspired by https://docs.astro.build/en/recipes/call-endpoints/
		res = await clientA.api.searchAll.$get();
	} else {
		const url = `${target}/api/searchAll`;
		res = await fetch(url);
	}

	const rListPersons: string[] = [];
	if (res.ok) {
		const resp = await res.json();
		rListPersons.push(...resp.list);
	}
	return rListPersons;
}

const title = "SSG page : searchAll";
//const persons = ["aaa", "bbb", "ccc"];
const persons = await myload();
---

<Layout title={title}>
	<article>
		<h1>{title}</h1>
		<ol>
			{
				persons.map((item, idx) => (
					<li>
						{item} [{idx}]
					</li>
				))
			}
		</ol>
	</article>
</Layout>

<style>
	article {
		margin-left: 2rem;
		background-color: LightGreen;
	}
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.6rem;
	}
	h3 {
		font-size: 1.3rem;
	}
</style>
