---
import Layout from "../../../layouts/Layout.astro";
import { Image } from "astro:assets";

import svgHardwareProcessing from "./_svg/hardware_processing.svg";
import svgHardwareProcessingLimitation from "./_svg/hardware_processing_limitation.svg";
import svgHardwareProcessingDistributed from "./_svg/hardware_processing_distributed.svg";
import svgSoftwareScaling from "./_svg/software_scaling.svg";
import svgDistributedBackend from "./_svg/distributed_backend.svg";
import jpgRaspberryRack from "../../../assets/jpg/raspberry_rack.jpg";
import svgPageProcessing from "./_svg/page_processing.svg";
import svgSequenceSsg from "./_svg/sequence_ssg.svg";
import svgSequenceSsr from "./_svg/sequence_ssr.svg";
import svgSequenceCsr from "./_svg/sequence_csr.svg";
import svgFlowOptions from "./_svg/flow_options.svg";
import svgFlowSsg from "./_svg/flow_ssg.svg";
import svgFlowSsr from "./_svg/flow_ssr.svg";
import svgFlowCsr from "./_svg/flow_csr.svg";
import svgFlowCsr2 from "./_svg/flow_csr2.svg";
import svgSoftwareLifeCycle from "./_svg/software_life_cycle.svg";

const title = "Software scalability";
---

<Layout title={title}>
	<article>
		<h1>{title}</h1>

		<h2>Hardware issue</h2>

		<figure>
			<Image src={svgHardwareProcessing} alt="hardware_processing.svg" />
			<figcaption>Hardware processing unit</figcaption>
		</figure>
		<figure>
			<Image
				src={svgHardwareProcessingLimitation}
				alt="hardware_processing_limitation.svg"
			/>
			<figcaption>Hardware processing limitation</figcaption>
		</figure>
		<figure>
			<Image
				src={svgHardwareProcessingDistributed}
				alt="hardware_processing_distributed.svg"
			/>
			<figcaption>Distributed hardware processing</figcaption>
		</figure>

		<h2>Distributed processing</h2>

		<figure>
			<Image src={svgSoftwareScaling} alt="software_scaling.svg" />
			<figcaption>How software can scale?</figcaption>
		</figure>
		<figure>
			<Image src={svgDistributedBackend} alt="distributed_backend.svg" />
			<figcaption>An example of distributed backend</figcaption>
		</figure>
		<figure>
			<Image src={jpgRaspberryRack} alt="" raspberry_rack.jpg />
			<figcaption>A rack of RaspberryPi</figcaption>
		</figure>

		<h2>Page processing</h2>

		<h3>Processing options</h3>

		<figure>
			<Image src={svgPageProcessing} alt="page_processing.svg" />
			<figcaption>Options for page processing</figcaption>
		</figure>

		<h3>Sequence diagrams</h3>

		<figure>
			<Image src={svgSequenceSsg} alt="sequence_ssg.svg" />
			<figcaption>Server Side Generation</figcaption>
		</figure>
		<figure>
			<Image src={svgSequenceSsr} alt="sequence_ssr.svg" />
			<figcaption>Server Side Rendering</figcaption>
		</figure>
		<figure>
			<Image src={svgSequenceCsr} alt="sequence_csr.svg" />
			<figcaption>Client Side Rendering</figcaption>
		</figure>

		<h3>SvelteKit / Hono integration</h3>

		<figure>
			<Image src={svgFlowOptions} alt="flow_options.svg" />
			<figcaption>Options for svelteKit-hono integration</figcaption>
		</figure>
		<figure>
			<Image src={svgFlowSsg} alt="flow_ssg.svg" />
			<figcaption>Server Side Generation</figcaption>
		</figure>
		<figure>
			<Image src={svgFlowSsr} alt="flow_ssr.svg" />
			<figcaption>Server Side Rendering</figcaption>
		</figure>
		<figure>
			<Image src={svgFlowCsr} alt="flow_csr.svg" />
			<figcaption>
				Client Side Rendering with integrated node-A
			</figcaption>
		</figure>
		<figure>
			<Image src={svgFlowCsr2} alt="flow_csr2.svg" />
			<figcaption>
				Client Side Rendering with independant node-A
			</figcaption>
		</figure>

		<p>
			<i>Nodejs</i> enables running the same <i>javascript</i> code on the server
			and in the browser. This enables <i>frontend frameworks</i> like
			<a href="https://svelte.dev/docs/kit/introduction">svelteKit</a> where
			<i>SSR</i> and <i>CSR</i> can be easily exchanged. If the <i
				>backend framework</i
			> (e.g. <a href="https://hono.dev/">hono</a>) is also in <i
				>javascript</i
			>, it can be integrated/imported into the <i>frontend framework</i>.
		</p>

		<figure>
			<Image src={svgSoftwareLifeCycle} alt="software_life_cycle.svg" />
			<figcaption>Software lifecycle</figcaption>
		</figure>
	</article>
</Layout>

<style>
	article {
		margin-left: 2rem;
	}
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.6rem;
	}
	h3 {
		font-size: 1.3rem;
	}
	figure {
		display: inline-block;
		margin: 3rem;
	}
	figure > figcaption {
		font-style: italic;
		text-align: center;
	}
</style>
