---
import Layout from "../layouts/Layout.astro";
import { backCfg } from "back-config";

const base = import.meta.env.BASE_URL;
const base2 = base === "/" ? "" : base;
---

<Layout title="Welcome to Dedalas">
	<article>
		<header>
			<h1>Welcome to Dedalas</h1>
			<p>The static pages of Dedale</p>
		</header>

		<h2>Documentation</h2>
		<ol>
			<li>
				<a href={`${base2}/docs/scalability`}>Software scalability</a>
			</li>
			<li>
				<a href={`${base2}/docs/apidoc/`} rel="external">TypeDoc</a>
			</li>
		</ol>

		<h2>Swagger UI</h2>
		<ol>
			<li>
				<a
					href={`${backCfg.nA_host}:${backCfg.nA_port}/swagger`}
					rel="external">swagger-ui of nA</a
				>
			</li>
			<li>
				<a
					href={`${backCfg.nZ_host}:${backCfg.nZ_port}/swagger`}
					rel="external">swagger-ui of nZ</a
				>
			</li>
		</ol>

		<h2>SSG pages</h2>
		<ol>
			<li><a href={`${base2}/ssg/pageSearchAll`}>searchAll</a></li>
			<li><a href={`${base2}/ssg/pageSearchAll`}>searchAll2</a></li>
		</ol>
	</article>
</Layout>

<style>
	article {
		margin-left: 1rem;
	}
	header {
		margin: 4rem 0;
	}
	h1 {
		font-size: 2rem;
		margin: 0.5rem 0;
	}
	header > p {
		margin: 0.5rem 0;
	}
	h2 {
		font-size: 1.6rem;
	}
	h3 {
		font-size: 1.3rem;
	}
</style>
